html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  height: 100vh;
}

main {
  height: 100vh;
  background-color: cyan;
  display: flex;
  align-items: center;
  flex-direction: column;
}

main > div {
  height: 100vh;
  background-color: cyan;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  gap: 40px;
  padding-top: 80px;
}

.ship-placement {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  gap: 100px;
}

.ocean-grid > div:nth-child(1), .tracking-grid > div:nth-child(1) {
  border: none;
  width: auto;
  display: flex;
}

.ocean-grid > div:nth-child(2), .tracking-grid > div:nth-child(2) {
  border: none;
  width: 501px;
  display: flex;
  width: auto;
}

.ocean-grid, .tracking-grid {
  border: none;
}

.coordinates {
  width: 370px;
  height: 370px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.coordinates > div {
  border: 1px solid black;
  width: 37px;
  height: 37px;
}

.numbers {
  width: 37px;
  height: 370px;
  display: flex;
  flex-wrap: wrap;
  border: none;
}

.numbers > div {
  border: none;
  width: 37px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.letters {
  width: 370px;
  height: 37px;
  display: flex;
  flex-wrap: wrap;
  border: none;
}

.letters > div {
  border: none;
  width: 37px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ships {
  width: 407px;
  height: 407px;
  border: 1px solid black;
}

.ships > div:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px ;
}

.ships > div:nth-child(2) {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  align-items: center;
  padding: 0px 30px 60px;
}

.ships > div:nth-child(2) > div {
  border: 1px solid black;
}

.ships > div:nth-child(2) > div:nth-child(1) {
  rotate: 90deg;
  margin: 0px 60px; 
}

.ships > div:nth-child(2) > div > div {
  width: 37px;
  height: 37px;
  border: 1px solid black;
}

.ship-placement > .buttons, .battlefield + .buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.battlefield {
  display: flex;
  gap: 150px;
}


.menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 30px;
}

.hidden {
  display: none;
}
/* mark shot at grid */
.shot > div {
 content: url(./assets/delete-icon.svg);
}
/* mark hit at enemy ship */
.hit > div {
  background-color: #006E19;
}
/* mark hit at player ship*/
.attacked > div {
 background-color: #F95D5E;
}

.sunked > div {
  content: url(./assets/delete-icon-red.svg);
}