html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  height: 100vh;
}

header {
  height: 10vh;
  background-color: green;
  border: 3ps dashed red;
}

main {
  height: 90vh;
  background-color: cyan;
  display: flex;
  justify-content: center;
  align-items: center;
 flex-direction: column; 
}

main > div:nth-child(1) {
  border: 3px solid black;
  width: 501px;
  display: flex;
}

main > div:nth-child(2) {
  border: 3px solid black;
  width: 501px;
  display: flex;
}

.coordinates {
  width: 456px;
  height: 456px;
  display: flex;
  flex-wrap: wrap;
}

.coordinates > div {
  border: 1px solid black;
  width: 45px;
  height: 45px;
}

.numbers {
    width: 45px;
    height: 456px;
    display: flex;
    flex-wrap: wrap;
  }


  .numbers > div {
    border: 1px solid black;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .letters {
    width: 456px;
    height: 45px;
    display: flex;
    flex-wrap: wrap;
  }


  .letters > div {
    border: 1px solid black;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
  }